# ThaiD Configuration
#NEXT_PUBLIC_THAID_CLIENT_ID=OW03cGFkeDR5cEJSV2ZzZktJRVNJV2VXU29MS3R4aHY
#NEXT_PUBLIC_THAID_API_KEY=r0qRtUi9J7PqpJ4HH4xluq5NC1cH0Kj37xBal5Da
#NEXT_PUBLIC_THAID_CLIENT_SECRET=OEZ2ZzRrR2JHMTdtNHFRbjFMWjRjeXVVSjRta0RseWxGZnBJWE96Y
#NEXT_PUBLIC_THAID_CALLBACK_URL=https://auth-wifi.mfu.ac.th/api/thaidd/callback

# Test Environment (uncomment for testing)
NEXT_PUBLIC_THAID_CLIENT_ID=TUMwV1BBbEljQ2tRb1docTdEUHE0UDY3U0JENDZKVjA
NEXT_PUBLIC_THAID_API_KEY=P1EgGN4qebXb9ektW1bIdUDuK83vGvRvOlwepJ5C
NEXT_PUBLIC_THAID_CLIENT_SECRET=ZDR3U08xNzBhQXpnZ0tNV1QwWVhjVXE3MVlYNDExSGk1amIxandYag
NEXT_PUBLIC_THAID_CALLBACK_URL=https://p-auth-wifi.mfu.ac.th/callback/


# Backend URL
# Local Development
#NEXT_PUBLIC_BACKEND_URL=http://localhost:8020

# Production Server - ใช้ relative path เพราะ Nginx จะ proxy ให้
NEXT_PUBLIC_BACKEND_URL=https://p-auth-wifi.mfu.ac.th/apis